.bottom .information {
  height: 298px;
  padding-top: 62px;
}
.bottom .information ul {
  display: flex;
}
.bottom .information ul li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #e8e8e8;
}
.bottom .information ul li h6 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 28px;
}
.bottom .information ul li a {
  display: inline-block;
  height: 98px;
  width: 78px;
  margin: 0 15px;
}
.bottom .information ul li a span {
  display: inline-block;
  height: 98px;
  width: 78px;
  border: 1px solid #e7e7e7;
}
.bottom .information ul li a span i {
  display: block;
  height: 28px;
  width: 32px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 21px;
}
.bottom .information ul li a .one i {
  background: url(../img/cart/icon-yxfoot-sb38e8b0402-214e6650b9.png) no-repeat;
  background-position: 0 -290px;
}
.bottom .information ul li a .two i {
  background: url(../img/cart/icon-yxfoot-sb38e8b0402-214e6650b9.png) no-repeat;
  background-position: 0 -97px;
}
.bottom .information ul li p {
  padding: 0 25px;
  line-height: 23px;
  font-size: 14px;
  text-align: left;
}
.bottom .information ul li .watchUs {
  margin-top: 25px;
  text-align: left;
  padding-left: 25px;
  font-size: 14px;
}
.bottom .information ul li .watchUs a {
  display: inline-block;
  height: 33px;
  width: 33px;
  background: url(../img/cart/icon-yxfoot-sb38e8b0402-214e6650b9.png) no-repeat;
  margin: 0 5px;
  vertical-align: middle;
}
.bottom .information ul li .watchUs a:nth-child(1) {
  background-position: 0 -469px;
}
.bottom .information ul li .watchUs a:nth-child(2) {
  background-position: 0 -427px;
}
.bottom .information ul li .watchUs a:nth-child(3) {
  background-position: 0 -326px;
}
.bottom .information ul li h5 {
  font-size: 14px;
  color: #ba9f78;
  font-weight: normal;
  margin-top: 10px;
}
.bottom .information ul li:nth-child(3) {
  border-right: none;
}
.bottom .foot {
  height: 250px;
  background-color: #404040;
}
.bottom .foot .foot_top ul {
  display: flex;
  height: 118px;
  line-height: 118px;
  border-bottom: 1px solid #4e4e4e;
}
.bottom .foot .foot_top ul li {
  flex: 1;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.bottom .foot .foot_top ul li span {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url(../img/cart/icon-yxfoot-sb38e8b0402-214e6650b9.png) no-repeat;
  vertical-align: middle;
  margin-right: 15px;
}
.bottom .foot .foot_top ul li .one {
  background-position: 0 -134px;
}
.bottom .foot .foot_top ul li .two {
  background-position: 0 -368px;
}
.bottom .foot .foot_top ul li .three {
  background-position: 0 0;
}
.bottom .foot .foot_top ul li .four {
  background-position: 0 -194px;
}
.bottom .foot .foot_bottom {
  text-align: center;
  padding-top: 31px;
}
.bottom .foot .foot_bottom a {
  color: #989898;
  font-size: 14px;
}
.bottom .foot .foot_bottom strong {
  font-weight: 700;
  color: #989898;
  margin: 0 12px;
  font-size: 16px;
}
.bottom .foot .foot_bottom p {
  color: #989898;
  font-size: 12px;
  margin: 10px 0 ;
}
.bottom .foot .foot_bottom p img {
  width: 2%;
}
